@import url("./font.css");
@import url("./variable.css");
@import url("./utility.css");

body {
  font-family: var(--regular-font);
}

/* 
====================
Hero Section Start
====================
*/
.navbar-nav {
  gap: 18px;
}

.navbar-nav .nav-item:hover .nav-link {
  color: var(--success-color);
  transform: scale(1.1);
}

.flag__img {
  width: 40px;
  height: 40px;
}
/* 
====================
Hero Section Start
====================
*/

/* 
====================
Hero Section Start
====================
*/
.hero__title {
  font-size: var(--xxxl-text);
  margin-bottom: 0;
}

.hero__desc {
  font-size: var(--xs-text);
  font-weight: 600;
  line-height: 1.4;
  max-width: 550px;
}
/* 
====================
Hero Section End
====================
*/

/* 
====================
Features Start
====================
*/
#features {
  max-width: 1490px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  min-height: 136px;
}

.feature__item__title {
  font-size: var(--sm-text);
}
.feature__item img {
  width: 71px;
  height: 71px;
}

/* 
====================
Features End
====================
*/

/* 
====================
Minder Start
====================
*/
.minder__title {
  font-size: var(--xxl-text);
}
.minder__desc {
  font-size: var(--xs-text);
  font-weight: 600;
}
/* 
====================
Minder End
====================
*/

.shipping__feature__item {
  gap: 15px;
}

/* 
====================
Product Start
====================
*/
.product__item {
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}

.product__item:nth-child(even) {
  padding: 1.5rem 0 !important;
}
.product__item:nth-child(even)::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--primary-light-color);
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  z-index: -99;
  width: 1400px;
}

.product__item:last-child {
  margin-bottom: 0;
}

.product__item__title {
  font-size: var(--xl-text);
  font-weight: 600;
}

.product__item__desc {
  font-size: var(--md-text);
  /* font-weight: 600; */
}
/* 
====================
Product End
====================
*/

/* 
====================
Benefit Start
====================
*/
.benefit__title {
  max-width: 432px;
  font-weight: 600;
  font-size: var(--xxl-text);
}

.benefit__nav {
  gap: 20px;
}

.benefit__nav__item {
  font-size: var(--md-text);
  color: #5a5a5a;
}

.benefit__nav__item .iconify {
  color: var(--success-color);
  margin-right: 10px;
}

.benefit__img {
  width: 100%;
  height: 740px;
  object-fit: contain;
}

#benefits {
  position: relative;
}
#benefits::after {
  content: "";
  width: 100%;
  max-width: 950px;
  height: 158px;
  z-index: -99;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  position: absolute;
  top: 60%;
  right: 0;
  transform: translateY(-60%);
  background-color: var(--primary-light-color);
}

/* 
====================
Benefit End
====================
*/

/* 
====================
Briter Start
====================
*/
.briter__title {
  font-weight: 600;
  font-size: var(--xl-text);
}

.briter__item {
  border-radius: 12px;
  overflow: hidden;
}

.briter__item .card-title {
  font-size: var(--lg-text);
  color: #626262;
  font-weight: 600;
}
.briter__item .card-text {
  font-size: var(--sm-text);
  color: #626262;
  font-weight: 500;
}

.briter__item .date {
  display: inline-block;
  min-width: 155px;
  background-color: #cef4e7;
}

.briter__item .date h6 {
  font-size: var(--sm-text);
}
/* 
====================
Briter End
====================
*/

/* 
====================
Zeggan Start
====================
*/
#zeggenCarousel {
  position: relative;
}

#zeggenCarousel .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
}

#zeggenCarousel .owl-nav button {
  font-size: var(--xxl-text);
  color: #c9c9c9;
  margin-right: 10px;
}
#zeggenCarousel .owl-nav button:last-child {
  margin-right: 0;
}

.zeggan__item {
  gap: 30px;
}

.zeggan__item img {
  width: 130px !important;
  height: 130px !important;
}

.zeggan__title {
  font-size: var(--lg-text);
}

.zeggan__desc {
  font-size: var(--sm-text);
}
/* 
====================
Zeggan End
====================
*/

/* 
====================
Vragen Start
====================
*/
.app__accordion .accordion-item {
  margin-bottom: 15px;
  border: 0;
}
.app__accordion .accordion-body {
  background-color: #fafafa;
  border-left: 2px solid var(--success-color);
  padding: 35px 20px;
}

.app__accordion .accordion-button {
  background-color: var(--muted-color);
  font-size: var(--md-text);
  font-family: var(--regular-font);
  color: #000;
  box-shadow: none;
}
/* 
====================
Vragen Start
====================
*/

/* 
====================
Footer Start
====================
*/
.social__nav {
  gap: 15px;
}

.social__btn {
  background-color: var(--grey-color);
  width: 50px;
  height: 50px;
  color: var(--light-color);
}

.contact__text {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--sm-text);
}
.contact__icon {
  background-color: var(--grey-color);
  width: 50px;
  height: 50px;
  color: var(--light-color);
  display: inline-block;
  position: relative;
}
.contact__icon .iconify {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copyright-text {
  font-size: var(--xxs-text);
}
/* 
====================
Footer End
====================
*/
